* {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
    background-color: #F3F3F3;

    /* COLORS */
    --color1: #F3F3F3;
    --color2: #E9DCBE;
    --color3: #8E8B82;
    --color4: #343434;
}

body {
    line-height: initial;
}

/* ------------------------------ HEADER */

/* NAVBAR */
.navbar {
    height: 100px;
    min-width: 400px;
}

.navbar__container {
    padding: 0 30px;
}

/* NAVBAR LOGO */
.navbar-brand {
    margin: 0;
}

.navbar__logo--img {
    width: 300px;
}

/* NAVBAR LINKS */
.nav-item {
    margin: 0 15px;
}

/* NAVBAR ICONS */
.navbar__icon {
    margin: 0 25px;
}

/* ------------------------------ MAIN */

/* SLOGAN */
.main__slogan {
    position: relative;
    height: 300px;
    width: 100%;
    min-width: 400px;
    padding: 0;
}

.slogan__h3 {
    background-color: rgb(52, 52, 52, 0.8);
    color: #F3F3F3;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.slogan__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* ------------------------------ FOOTER */

/* ------------------------------ QUERYS */
@media (max-width: 992px) {

    /* ------------------------------ HEADER */
    /* NAVBAR LINKS */
    .nav-item {
        margin: 0;
    }

    /* NAVBAR LOGO */
    .navbar__logo--img {
        width: 250px;
    }
}